:root {

    font-family: 'Poppins', sans-serif;
    --icon: #FF1919;
    --fb: rgb(21, 0, 255);
    --tw: rgb(0, 208, 255);
    --ig: rgb(255, 0, 187);
    --yt: rgb(150, 0, 0);
    --dark: #16191c;
    --dark-x: #444444;
    --light: #ffffff;
    --red-x: rgb(195, 36, 36);
   


}

.text-footer {
    font-family: 'Poppins';
    font-size: larger;
    font-weight: 200;
    color: #fff;
}

h1 {
    font-family: 'Poppins';
    font-weight: 900;
}

h4 {
    font-family: 'Poppins';
    font-weight: 200;
}

main {
    /* font-family: 'Poppins'; */
    font-weight: 300;
}

.bi-sim, .bi-phone, .bi-tv, .bi-router, .bi-telephone {
    color: #FF1919;
}

.bi-sim-item, .bi-phone-item, .bi-tv-item, .bi-router-item, .bi-telephone-item {
    width: 40px;
    height: 40px;
}

.bi-facebook {
    color: var(--fb);
}

.bi-twitter {
    color: var(--tw)
}

.bi-instagram {
    color: var(--ig);
}

.bi-youtube {
    color: var(--yt);
}

.internet-res {
    font-size: small;
}

.title-product {
    font-weight: 200;
}


/* Alerta Influencer */

.border-alert {
    border: solid 3px var(--icon);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.alert-tittle {
     background-color: var(--icon);
     font-size: 40px;
     font-weight: bold;
     color: #fff;
     text-align: center;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}

.icon-alert {
    
    width: 150px;
    
}

/* Login */

.bg-login {
    font-family: 'Poppins', sans-serif;
    color: var(--light)
}

.bg-dark {
    background-color: var(--dark) !important;
}

.img-fluid-icon {
    width: 70px;
}

.title-intro-1 {
    font-weight: 200;
    font-size: 25px;
    
}

.title-intro-2 {
    font-weight: 900;
    font-size: 60px;
}

.form-text {
    color: var(--light);
    font-size: 10px;
}

.font-weight-bold {
    font-weight: 300;
    
}

.bg-dark-x {
    background-color: var(--dark-x);
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height: initial;
}